<% if user_signed_in? %>

<% else %>

  <div class="hero-unit">
    <h1>Welcome!</h1>
    <p>
      You've found the home page for
      <%= link_to "Kaitlin Carpenter", "http://linkd.in/VFTDk0" %>'s
      first application.
    </p>
    <p>
      <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-large" %>
    </p>
  </div>
</div>
<% end %>
