/* You could change the font */
/* $baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen); */
$baseFontFamily: Playfair Display;
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

@import url(http://fonts.googleapis.com/css?family=Muli);

$btnPrimaryBackground: green;
$navbarBackgroundHighLight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
  font-family: Muli;
  padding-top: 60px;
  background-color: none;
  color: #27927d;
}

@import 'bootstrap-responsive';

.navbar-inner {
  @include box-shadow(none !important);
  border: 0;
}

.hero-unit h1 {
  font-family: Playfair Display;
}

.hero-unit {
  background-color: #d4feee;
}

.form-actions {
  background-color: transparent;
  border-top: none;
}


.footer {
  margin-top: 50px;
  color: $grayLight;
  a {
    color: $grayLight;
  }
}

/* Required for jQuery Masonry */

.box {
  margin: 5px;
  padding: 5px;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  width: 214px;
}

.box img {
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.description {
  margin: 10px 0 5px;
}
